@import url('https://fonts.googleapis.com/css2? family= Fredoka+One & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

*
{
    margin: 0px;
}

:root
{
    --cor1: rgb(255, 182, 192);
    --cor2: rgb(255, 243, 135);
    --cor3: rgb(98, 56, 0);

    --font-SessaoDoces: 'Merriweather', serif;
}

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(imagens/coelho.png);
}

/* Inicio - Cabeçalho */

header
{
    text-align: center;
    background-color: white;
}
nav
{
    padding-top: 30px;
}

.cabeçalho
{
    display: inline-flex;
    vertical-align: top;
    text-align: center;
    height: 200px;
    min-width: 200px;
    margin: 0px 20px;
}

.acessar
{
    height: 30px;
    width: 200px;
    margin: 5px 0px;
    background-color: rgba(255, 255, 255, 0.753);
    border: 3px solid var(--cor1);
    border-radius: 10px;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.534);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.377);
    color: var(--cor3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 3px 0px;
}

.acessar:hover
{
    background-color: var(--cor1);
    border: 3px solid var(--cor3);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.63);
}

#insta::before
{
    content: url(imagens/Instagram_icon.png)
}


#wpp::before
{
    content: url(imagens/whatsapp_icon.png)
}


#delivery::before
{
    content: url(imagens/delivery_icon.png)
}


/* Fim - Cabeçalho */

/* Inicio - Principal */
main
{
    background-image: url(imagens/brownie\ com\ morango\ de\ lado.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    text-align: center;
}

main > div > h1
{
    background-color: var(--cor1);
    width: 700px;
    margin: 40px auto 0px auto;
    padding: 10px;
    border: 3px solid var(--cor3);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 3px 3px 7px black;
}

main > div > h2
{
    background-color: var(--cor1);
    width: 200px;
    margin: 40px auto 0px auto;
    padding: 10px;
    border: 3px solid var(--cor3);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 3px 3px 7px black;
    margin-top: 250px;
}
/* Fim - Principal */

div#separar
{
    height: 5px;
    background-color: var(--cor3);
}

/* Inicio - Seção de doces */

section
{
    height: 630px; 
    padding: 80px 0px;
    color: var(--cor3);
    text-decoration: underline;
    text-shadow: 1px 1px 3px black;
    background-color: white;
    width: 50%;
    margin: 30px auto;
    text-align: center;
    border-radius: 40px;
    border: 5px solid var(--cor3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
}

section h2
{
    margin-bottom: 50px;
    font-family: var(--font-SessaoDoces);
    font-size: 50px;
}
/* Fim - Seção de doces */

/* Inicio - Carrossel  */
.carrossel
{
    width: 500px;
    height: 500px;
    margin: auto;
}

.items
{
    display: flex;
    border: 5px solid var(--cor3);
    border-radius: 50%;
    box-shadow: 2px 2px 10px black;
    overflow-x: hidden;  /* barra de rolagem na div */

     /* comando para ser executado no eixo x, obrigatoriamente (mandatory) */
    scroll-snap-type: x mandatory;

     /* Rolagem por touch */
    -webkit-overflow-scrolling: touch;
}

.item
{
     /* o comando obrigatorio que será executado é para não deixar a imagem na metade usando a barra de rolagem e a imagem sempre aparecer no inicio dela */
    scroll-snap-align: start;
     position: relative;
    animation: slide 10s infinite ease-out; 
}

 @keyframes slide{
    0%{left: 0px}
    10%{left: -500px}
    50%{left: -500px}
    60%{left: 0px}
    100%{left: 0px}
} 

/* Fim - Carrossel */

/* Inicio - Carrossel Pascoa */
.itemP
{
     /* o comando obrigatorio que será executado é para não deixar a imagem na metade usando a barra de rolagem e a imagem sempre aparecer no inicio dela */
    scroll-snap-align: start;
    position: relative;
    animation: slideP 30s infinite ease-out;

}

 @keyframes slideP{
    0%{left: 0px}
    3%{left: -500px}
    16%{left: -500px}
    19%{left: -1000px}
    32%{left: -1000px}
    35%{left: -1500px}
    48%{left: -1500px}
    51%{left: -2000px}
    64%{left: -2000px}
    67%{left: -2500px}
    80%{left: -2500px}
    83%{left: 0px}
} 
/* Fim - Carrossel Pascoa */

footer
{
    background-color: white;
    border: 5px solid var(--cor3);
    border-radius: 30px 30px 0px 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.76);
    height: 30px;
    width: 75%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.63);
    padding: 10px;
}

footer a
{
    text-decoration: none;
    color: black;
}